body {
	margin : 0;
	font-size : 2em;
}

h1,p {
	margin : 0;
}

.container {
	background-color: pink;
}
.container:after{
	content:'';
	display: block;
	clear : both;
	height : 0;
	visibility: hidden;
}
.item {
	
	padding : 5%;
	float : left;
}

.item-a {
	float : left;
	width : 30%;
	background-color : orange;

}

.item-b {
	float : right;
	width : 50%;
	background-color : yellowgreen;
}