<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script>
    function get_posting() {
        $('#cards-box').empty('');
        $.ajax({
          type: "GET",
          url: "/get",
          data: {},
          success: function(response){
          console.log(response);
            let tickets = response['tickets'];
            console.log(tickets)
            for (let i = 0 ; i < tickets.length; i++) {
              let title = tickets[i]['title'];
              make_card(title);
            }
          }
        })
      }
      function make_card(title) {
        $('.list').append('<li>'+title+'</li>');
      }
      $( document ).ready(function() {
          $('.list').html('');
          get_posting();
      });
    </script>

</head>
<body>

    <p>티켓 가격</p>

    <ul class="list">
        <li class="title"></li>
        <li class="title"></li>
    </ul>






</body>
</html>